<form class="bg-light text-center col-md-8" action="/add" method="post">
   <div>
      <h1 class="text text-primary">Add new toy</h1>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Name</label>
      <input class="form-control" type="text" name="name" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Brand</label>
      <input class="form-control" type="text" name="brand" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Origin</label>
      <input class="form-control" type="text" name="origin" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Material</label>
      <input class="form-control" type="text" name="material" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Quantity</label>
      <input class="form-control" type="number" name="quantity" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Image</label>
      <input class="form-control" type="text" name="image" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Price</label>
      <input class="form-control" type="number" name="price" required>
   </div>
   <div class="form-group mt-3">
      <input class="btn btn-danger" type="submit" value="Add">
   </div>
</form>