{{!-- <h1 class="text text-warning mb-2 text-center">Toy Storee</h1> --}}
<body>
   <div class="app">
       <header>
        <nav class="navbar navbar-default navbar-inverse">
  <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ATN </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="/listbike">Bike</a></li>
        <li><a href="#">services</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="/admin">Admin</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
   
   
   <div id="search">
    <button type="button" class="close">X</button>
    <form>
        <input type="search" value="" placeholder="Your Query Here ...." />
        <button type="submit" class="btn">Search</button>
    </form>
</div>
   
    </header>

      <div class="container">
         <div class="grid__row">
            <div class="grid__column-2">
               <nav class="category">
                  <h3 class="category_heading">Brand</h3>
                  <ul class="category-list">
         
                        <li class="category-item">
                           
                           <a href="/filter" class="category-link" data-brand="DC">DC</a>
                        </li>
                        <li class="category-item">
                           <a href="/filter" class="category-link" data-brand="TRANSFORMERS">TRANSFORMERS</a>
                        </li>
                        <li class="category-item">
                           <a href="/filter" class="category-link" data-brand="DISNEY">DISNEY</a>
                        </li>
                        <li class="category-item">
                           <a href="/filter" class="category-link" data-brand="LEGO">LEGO</a>
                        </li>
                        <li class="category-item">
                           <a href="/filter" class="category-link" data-brand="AVENGERS">AVENGERS</a>
                        </li>
                  </ul>
               </nav>

            </div>

            <div class="grid__column-10">
               <div class="home-filter">
                  <span class="label">Sorting </span>
                    <a class="btn btn-primary" href="/ascending">Price ascending</a>
                     <a class="btn btn-success" href="/descending">Price descending</a>
               </div>

               <div class="product">
                  <div class="grid__row">
                     {{#each toys }}
                     <div class="grid__column-2-4">
                        <div class="card-body">
                           <a href="">
                              <img class="card-img-top mt-3" src="{{ image }}" width="280" height="220">
                           </a>
                              
                                    <h4 class="card-title text-success">{{ name }}</h4>
                                    <h3 class="card-title text-danger">${{ price }}</h3>
                                    <p class="fw-bold card-text text-primary">{{ brand }}</p>
                                    <form action="" method="post">
                                       <input class="btn btn-danger" type="submit" value="Order">
                                    </form>
                                 
                        </div>
                     </div>
                       {{/each}}
                  </div>
               </div>
            </div>
         </div>
        
      </div>

      <footer class="footer">
   <div class="grid">
      <div class="footer__logo">
         <a href="">ATN</a>
      </div>

      <div class="footer__links">
         <ul class="footer__links-list">
            <li class="footer__links-item"><a href="">About Us</a></li>
            <li class="footer__links-item"><a href="">Contact Us</a></li>
            <li class="footer__links-item"><a href="">Privacy Policy</a></li>
            <li class="footer__links-item"><a href="">Terms of Service</a></li>
         </ul>
      </div>

      <div class="footer__social-media">
         <ul class="footer__social-media-list">
            <li class="footer__social-media-item"><a href=""><i class="fab fa-facebook"></i></a></li>
            <li class="footer__social-media-item"><a href=""><i class="fab fa-twitter"></i></a></li>
            <li class="footer__social-media-item"><a href=""><i class="fab fa-instagram"></i></a></li>
         </ul>
      </div>
   </div>
</footer>

   </div>
</body>

